:root{
  --bodyColor:hsl(226, 25%, 17%);
  --widgetColor:hsl(225, 23%, 24%);
  --textColor:hsl(200, 60%, 99%);
  --statusButtonColor:hsl(226, 11%, 37%);
  --widgetRemoveButtonColor: hsl(226, 11%, 37%);
}

*{
  font-family: "Noto Sans", sans-serif;
}

body{
  background-color: var(--bodyColor);
  color:hsl(0, 0%, 93%) ;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
