.widget-container{
 border-radius: 12px;
background-color: var(--widgetColor);
display: flex;
flex-direction: column;
}

.widget-content-container{
display: flex;
background-color: inherit;
gap: 10px;
align-items: center;
justify-content: space-around;
}


.widget-buttons-container{
 display: flex;
 background-color: inherit;
 justify-content: space-between;
}

.widget-button{
 border-radius: 12px;
}

.widget-button-toggle{
 border-radius: 12px;
}

.widget-text-container{
 background-color: inherit;
 color:var(--textColor);
}

.widget-text-container > h4,p{
 background-color: inherit;
}

.widget-img-container{
 background-color: inherit;
}

.widget-img-container > img{
 background-color: inherit;
 width: 50px;
}
