.widget-container{
 border-radius: 12px;
 overflow: hidden;
background-color: var(--widgetColor);
display: flex;
flex-direction: column;
gap:0;
}

.widget-content-container{
display: flex;
background-color: inherit;
gap: 10px;
justify-content: space-around;
flex:1;
margin-left: 10px;
}


.widget-buttons-container{
 display: flex;
 background-color: inherit;
 justify-content: space-between;
 margin: 0 10px 10px 10px;
}

.widget-button{
 border-radius: 12px;
 background-color: var(--widgetRemoveButtonColor);
 font-weight: 400;
 border:0.5px solid black;
 cursor: pointer;
 outline:none;
}

.widget-button-toggle{
 border-radius: 12px;
 border:none;
 outline:none;
}

.widget-text-container{
 background-color: inherit;
 color:var(--textColor);
}

.widget-text-container > h4,p{
 background-color: inherit;
}

.widget-img-container{
 display: flex;
 background-color: inherit;
 margin-bottom: 30px;
}

.widget-img-container > img{
 background-color: inherit;
 width: 50px;
}

input[type="checkbox"] {
width:0;
height:0;
visibility: hidden;
}

label {
 display: block;
 width:50px;
 height: 21px;
 border-radius: 100px;
 position: relative;
 cursor: pointer;
 transition: 0.5s;
}

label::after {
 content: "";
 width: 20px;
 height: 20px;
 background-color: hsl(0, 0%, 93%);
 position: absolute;
 border-radius: 70px;
 left: 3px;
 transition: 0.5s;
}

input:checked + label:after {
 left: calc(100% - 15px);
 transform: translateX(-40%);
}